%div[question]
  %h2= question.text
  %ol.answers
    - question.predefined_answers.each do |predefined_answer|
      %li.answer
        - if question.multiple_answers?
          = check_box_tag "questions[#{question.id}][answers][][predefined_answer_id]", predefined_answer.id
        - else
          = radio_button_tag "questions[#{question.id}][answers][][predefined_answer_id]", predefined_answer.id
        = predefined_answer.text
          