%h1 Polls
- @polls.each do |poll|
  .div[poll]
    %h3= poll.title
    %p= poll.description.truncate(100)
    = link_to "Take part", poll_path(poll.id)
    - if poll.owned_by?(current_user)
      = link_to "View results", results_poll_path(poll.id)
      = link_to "Remove", poll_path(poll.id), :method => :delete

= link_to "Create a poll", new_poll_path