= form_for poll do |f|
  .input.string
    = f.label :title, "Title"
    = f.text_field :title
  .input.string
    = f.label :description, "Description"
    = f.text_area :description, :rows => 5
  = f.hidden_field :user_id, :value => current_user.try(:id)
  = f.submit "Proceed"