- content_for :javascripts do
  = javascript_include_tag "highcharts/highcharts.src", "graphs", :cache => true
  
%h1= poll.title
- if poll.description?
  %p.description= poll.description
%p
  = t(".total_answers", :count => poll.answers_count)

.results_tabular
  - poll.questions.each do |question|
    %div[question]
      %h2= question.text
      %table
        %tr
          %thead
            %th=  t(".answer")
            %th= t(".count")
            %th= t(".percentage")
          %tbody
            - question.predefined_answers.each do |predefined_answer|
              %tr.answer
                %td
                  %span.title{ :title => predefined_answer.text }= predefined_answer.text.truncate(25)
                %td.count{ "data-count" => predefined_answer.times_selected }= predefined_answer.times_selected
                %td= number_to_percentage predefined_answer.times_selected_in_percent

#graph
.clear
.actions
  = link_to t(".back_to_polls"), polls_path