%h1= poll.title
- if poll.description?
  %p.description= poll.description
%p
  = "Total answers: " + poll.answers_count.to_s
- poll.questions.each do |question|
  %div[question]
    %h2= question.text
    .tabular
      %table
        %tr
          %thead
            %th= "Answer"
            %th= "Count"
            %th= "Percent"
          %tbody
            - question.predefined_answers.each do |predefined_answer|
              %tr
                %td
                  %span{ :title => predefined_answer.text }= predefined_answer.text.truncate(25)
                %td= predefined_answer.times_selected
                %td= number_to_percentage predefined_answer.times_selected_in_percent
    .graph
    
= link_to "Back to polls list", polls_path